@charset "utf-8";
@import "reset.css";

body {
    background-color: rgb(174, 174, 174);
    color: #fff;

}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

main {
    height: calc(100svh - 60px - 100px);
}

/* Header */
header {
    height: 60px;
    background: rgb(33, 91, 228);
    line-height: 60px;
}

header .container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .flex {
    align-items: center;
}

header h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

ul.flex{
    gap: 16px;
    display: flex;
    
}


ul li {
    list-style: none;
}

/* banner */
.banner {
    padding: 48px 0;
    text-align: center;
}

.banner h1 {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 16px;
}

.banner p {
    font-size: 18px;
    color: rgb(240, 240, 240);
    margin-bottom: 24px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* button */
button {
    cursor: pointer;
}

.primary {
    background-color: #09f;
    width: 90px;
    color: #fff;
    border-radius: 5px;
    line-height: 36px;
    font-weight: 500;
}

.primary:hover {
    background-color: rgb(7, 126, 206);
}

.secondary {
    background-color: transparent;
    width: 90px;
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    line-height: 36px;
    font-weight: 500;
}

.secondary:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(7, 126, 206);
}

.footerbutton {
    background-color: rgb(7, 126, 206);
    width: 100px;
    color: #fff;
    border-radius: 5px;
    line-height: 36px;
    font-weight: 500;
    transition: smooth 0.3s ease-in-out;
}

.footerbutton:hover {
    background-color: rgb(255, 81, 12);
    transform: scale(1.2);
}

/* gallery */
.gallery ul{
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery li {
    list-style: none;
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
}

/* footer */
.footer {
    height: 100px;
    padding: 12px 0;
    background-color: rgb(33, 91, 228);
    text-align: center;
}

.footer p {
    margin-bottom: 16px;
}